header{
    height: 100px;
}

/* Container list*/

.container-80{
    max-width: 80%;
    margin: 0 auto;
    border-style: none;
}

.container-40{
    max-width: 40%;
    margin: 0 auto;
    border-style: none;
}

/*row*/

.row{
    display: flex;
}

/*column list*/

.col-20{
    display: flex;
    width: 20%;
    border: 1px solid black;
    border-style: dashed;
}

.col-60{
    display: flex;
    width: 60%;
    border: 1px solid black;
    border-style: dashed;
}

.col-100{
    display: flex;
    width: 100%;
    border: 1px solid black;
    border-style: dashed;
}

/*background color list*/

.bg-aqua{
    background-color: aqua;
}

.bg-orange{
    background-color: orange;
}

.bg-blue{
    background-color: blue;
}

.bg-pink{
    background-color: pink;
}

/*sizing list*/

.padding-20{
    padding: 20px;
}

.height-70{
    height: 70px;
}

.height-400{
    height: 400px;
}

/*align list*/

.align-L{
    justify-content: left;
    align-items: center;
}

.align-C{
    justify-content: center;
    align-items: center;
}

.align-R{
    justify-content: right;
    align-items: center;
}

/*strong*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}