header{
    height: 100px;
}

/* Container list*/

.container-60{
    max-width: 60%;
    margin: 0 auto;
    border-style: none;
}

.container-40{
    max-width: 40%;
    margin: 0 auto;
    border-style: none;
}

/*row*/

.row{
    display: flex;
}

/*column list*/

.col-15{
    display: flex;
    width: 15%;
}

.col-20{
    display: flex;
    width: 20%;
}

.col-40{
    display: flex;
    width: 40%;
}

.col-50{
    display: flex;
    width: 60%;
}

.col-60{
    display: flex;
    width: 60%;
}

.col-100{
    display: flex;
    width: 100%;
}

/*background color list*/

.bg-aqua{
    background-color: aqua;
}

.bg-orange{
    background-color: orange;
}

.bg-blue{
    background-color: blue;
}

.bg-pink{
    background-color: pink;
}

.bg-light-gray{
    background-color: lightgrey;
}

.bg-green{
    background-color: green;
}

.bg-black{
    background-color: rgba(0, 0, 0, 0.651);
}

/*sizing list*/

.padding-20{
    padding: 20px;
}

.height-70{
    height: 70px;
}

.height-400{
    height: 400px;
}

.height-700{
    height: 700px;
}

.border-style-black{
    border: 2.5px solid black;
    border-style: dashed;
}

.border-style-white{
    border: 2.5px solid rgb(255, 255, 255);
    border-style: dashed;
}


/*align list*/

.align-L{
    justify-content: left;
    align-items: center;
}

.align-C{
    justify-content: center;
    align-items: center;
}

.align-R{
    justify-content: right;
    align-items: center;
}

/*strong*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}